<html>

<head>

    <style>


    </style>

</head>
<div>
    <li><button type="button"><a href='/addcompany'>Add company</a></button></li>

</div><br>
<div class="qw">

    <div class="card shadow">
        <p class="h4 card-header">List of Companies</p>
        <div class="card-body bg-light">


            <table class="table table-borderless table-hover">
                <thead>
                    <tr class="">
                        <th scope="col">S.No</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">Stock Exchanges</th>
                        <th scope="col">About</th>
                        <th></th>
                    </tr>
                </thead>

            </table>

        </div>
    </div>
</div>

</html>