<html lang="en">
<head>
 <title>User Details</title>
 <Style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: palegoldenrod;
      }
      li {
      float: left;
    }
    
      </style>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
 <h2>User Portal</h2>
 <ul>
<li> <button type="button" class="btn btn-outline-primary btn-block"><a href='/ipos'>IPO's</a></button></li>
 <li><button type="button" class="btn btn-outline-primary btn-block"><a href='/comparecompany'>Compare Company</a></button></li>
 <li><button type="button" class="btn btn-outline-primary btn-block"><a href='/comparesector'>Compare Sectors</a></button></li>
 <li><button type="button" class="btn btn-outline-primary btn-block"><a href='/others'>Other</a></button></li>
 
</ul>
</div>
 </body>
 </html>



